*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: transparent;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 15px;
}
