@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: "Pragati Narrow", sans-serif;
    font-size: 16px;
    color: #181818;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

img {
    display: block;
}

/* STYLING */
.col-player-name h2 {
    font-size: 3rem;
    padding: 5px;
    line-height: 1;
    color: var(--white);
    font-weight: 400;
    text-shadow: var(--text-shadow);
}

.icon.disabled {
    opacity: .15;
    filter: grayscale();
    transition: all 300ms ease;
}
.icon:not(.disabled) {
    opacity: 1;
    filter: none;
    transition: all 300ms ease;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


/* STRUCTURE */

.flex {
    display: flex;
}
.flex.row {
    flex-flow: row nowrap;
}
.flex.column {
    flex-flow: column wrap;
}
.justify-content-space-between {
    justify-content: space-between;
}
.icon {
    max-height: 60px;
}
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    background: transparent;
}
.bar {
    width: 100%;
    display: flex;
    flex-flow: column;
    bottom: 0;
    left: 0;
    z-index: 6;
}
.bar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bar-bottom {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
}



/* WINNER OVERLAY */
.winner .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    text-align: center;
    color: var(--white);
    text-shadow: var(--text-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner .overlay .text .name {
    font-size: 200px;
}
.winner .overlay .text .body {
    font-size: 130px;
}

.fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
}
.fireworks video {
    width: 100vw;
    height: auto;
}
/* .col {
    border: 2px solid pink;
    border-collapse: collapse;
    background-color: lightblue;
} */

.col-player-name {
    flex-basis: 20vw;
}
.col-player-two {
    text-align: right;
}
.col-hints {
    flex-basis: 60vw;
    font-size: 1.6rem;
    color: var(--white);
    text-shadow: var(--text-shadow);
    text-align: center;
}

:root {
    --text-shadow: 2px 2px 2px rgba(15,15,15,.8);
    --white: #fff;
}