@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pragati+Narrow:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 16px;
  color: var(--black);
  width: 100%;
  height: 100%;
  background-color: transparent;
}

img {
  display: block;
}

/* flexbox */
.flex {
  display: flex;
}
.flex.row {
  flex-flow: row nowrap;
}
.flex.column {
  flex-flow: column wrap;
}
.justify-content-space-between {
  justify-content: space-between;
}

/* structure */
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: transparent;
}
.bar {
  width: 100%;
  display: flex;
  flex-flow: column;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.bar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bar-bottom {
  width: 100%;
  display: flex;
  background-color: black;
  background-color: rgba(0,0,0,.8);
  justify-content: space-between;
}

/* game winner overlay */
.winner .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: center;
  color: var(--white);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner .overlay .text .name {
  font-size: 200px;
  font-family: 'Leckerli One', cursive;
}
.winner .overlay .text .body {
  font-size: 130px;
}
.fireworks {
  position: fixed;
  top: -5em;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.fireworks video {
  width: 100vw;
  height: auto;
}

/* icons in bottom bar */
.icon.disabled {
  opacity: .5;
  filter: grayscale();
  transition: all 300ms ease;
}
.icon:not(.disabled) {
  opacity: 1;
  filter: none;
  transition: all 300ms ease;
}
.icon {
  max-height: 60px;
}

/* player names and hints in top bar */
.col-player-name {
  flex-basis: 20vw;
}
.col-player-name h2 {
  font-size: 3rem;
  padding: 5px;
  line-height: 1;
  color: var(--white);
  font-weight: 400;
  text-shadow: var(--text-shadow);
}
.col-player-two {
  text-align: right;
}
.col-hints {
  flex-basis: 60vw;
  font-size: 1.6rem;
  color: var(--white);
  text-shadow: var(--text-shadow);
  text-align: center;
}

.col-gates {
  align-content: center;
  align-items: center;
  font-size: 24px;
}
.col-gates p {
  color: var(--white);
}

/* icons landmarks */
.player-one.landmarks {
  padding-left: .5em;
}
.player-two.landmarks {
  padding-right: .5em;
}

.test {
  animation: test 2s cubic-bezier(.86,0.000,.07,1.000) forwards;
}

@keyframes test {
  0%{
    transform: scale(1) rotate3d(-1,1,0,0deg)
  }
  50% {
    transform:scale(2) rotate3d(-1,1,0,180deg)
  } 100% { 
    transform:scale(1) rotate3d(-1,1,0,360deg)
  }
}

:root {
  --text-shadow: 2px 2px 2px rgba(15,15,15,.8);
  --white: #fff;
  --black: #181818;
}